<h1>Response from API:</h1>
<!-- <p>{{ message }}</p> -->

<canvas #canvas></canvas>
<input id="title" type="text" [(ngModel)]="title" placeholder="Enter title">

  <label for="description">Description:</label>
  <input id="description" type="text" [(ngModel)]="description" placeholder="Enter description">

<button (click)="submitCanvas2()">Submit</button>
<div *ngIf="imageUrl">
     <h2>Submitted Image</h2>
     <p>{{title}}</p>
     <p>{{description}}</p>
     <img [src]="uploadedImageUrl" alt="Canvas Image">
   </div>

   <button (click)="uploadCanvas()">Submit</button>

   <div *ngIf="uploadedImageUrl">
    <h3>Uploaded Image:</h3>
    <img [src]="uploadedImageUrl" alt="Uploaded Image" width="300">
  </div>