


.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('/images/beigebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;

}

.content {
  border: 2px solid black;
  height: 1000px;
  width: 1000px;
  background-color: peachpuff;
  opacity: 0.9;
 /* padding-top:10em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.inv-container.winner {
  text-align: center;
  margin-bottom: 20px;
}

.inv-container.winner p {
  font-size: 24px;
  font-weight: 600;

  margin: 10px 0 0;
}

.inv-container.winner span {
  font-weight: 700;
  color: #333;
}


.other-players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.inv-container.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  border-radius: 10px;
  padding: 15px;
  width: 150px;
}

.button {
  background-color: red;
  color:white;
}
/* End Game Button */
/* button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #e67e22;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35400;
}

button:active {
  transform: scale(0.95);
} */