
<div class="background-container">
@if (this.currentGameState==="QUEUING") {
 
        <div class="message-container">
        
            <h1>Waiting for host to start the game for code: {{gameCode}}...</h1>

        </div>
        <div class="leave-room">
            <app-disconnect (emitDisconnect)="handleDisconnection($event)"></app-disconnect>
        </div>
        
        
    
}

@if(this.currentGameState==="TRANSITION") {
    <div class="message-container">
    <app-player-transition [transitionChild]="transition"></app-player-transition>
    </div>
}
@if (this.currentGameState==="STARTED" || this.currentGameState==="DESCRIBE") {
    
    <app-player-drawing [currentGameState]="currentGameState"></app-player-drawing>
} 

@if( this.currentGameState==="VOTING") {
    <div class="message-container">
        <app-player-vote-input [currentGameState]="currentGameState"></app-player-vote-input>
    </div>
    
}

@if(this.currentGameState==="RESULTS" || this.currentGameState==="FINISHED") {
    <app-player-results [currentGameState]="currentGameState" [submissionresults]="submission"></app-player-results>
    <div class="leave-room">
        <app-disconnect (emitDisconnect)="handleDisconnection($event)"></app-disconnect>
    </div>
  
}

</div>

