.background-container {
    background-image:url('/images/playerbg1.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /* top: 0;
    left: 0;
    width: 100%; */
    min-height: 100svh;
    width:100vw;
}

.leave-room {
    position:absolute;
    bottom:5%;
    left:5%;
}

.message-container {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}