<!-- app.component.html -->

<!-- <nav>
  <a routerLink="/login">Login</a> |
  <a routerLink="/dashboard">Dashboard</a> 
  <a routerLink="/testsub">testsub</a> 
  <a routerLink="/lol-display">Dummy Page</a>  
</nav>
<h1>My Angular App</h1> -->

@if (!checkIfInGame()) {
  @if(fireAuthService.currentUserSig()) {
    <!-- <div>
        {{fireAuthService.currentUserSig()?.userId}}
        {{fireAuthService.currentUserSig()?.username}}
        {{fireAuthService.currentUserSig()?.email}}
        <a [routerLink]="['/dashboard']">Dashboard</a>
        <button class="btn" (click)="sendEmailRequest()" > Get email updates!</button>
        <span (click)="logout()">Logout</span>
    </div>
  } -->
  <nav class="navbar custom-navbar navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/dashboard']">Artistick</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Welcome {{fireAuthService.currentUserSig()?.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="sendEmailRequest()">Get Email Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>
  }  
  
}








<router-outlet></router-outlet>

<!-- <app-audio></app-audio> -->
