

@if (!checkIfInGame()) {
  @if(fireAuthService.currentUserSig()) {
    
    <nav class="navbar custom-navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/dashboard']">
          <div class="logo-wrapper">
            <img src="/mascot/pencil2.svg" height="50px" width="50px" />
          </div>
         
        </a>

        <span class="nav-item name "> 
          👋 Welcome, {{fireAuthService.currentUserSig()?.username}}!
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> 
           
            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']"><i class="fa-solid fa-table-columns me-1"></i> Lobby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/gallery']"><i class="fa-solid fa-image me-1"></i> Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link email" (click)="sendEmailRequest()" > <i class="fa-solid fa-envelope me-1"></i>Get Email Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link logout" (click)="logout()" > <i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  }  
  
}








<router-outlet></router-outlet>


