<!-- app.component.html -->

<!-- <nav>
  <a routerLink="/login">Login</a> |
  <a routerLink="/dashboard">Dashboard</a> 
  <a routerLink="/testsub">testsub</a> 
  <a routerLink="/lol-display">Dummy Page</a>  
</nav>
<h1>My Angular App</h1> -->


@if(fireAuthService.currentUserSig()) {
  <div>
      {{fireAuthService.currentUserSig()?.username}}
      {{fireAuthService.currentUserSig()?.email}}
      <a [routerLink]="['/dashboard']">Dashboard</a>
      <span (click)="logout()">Logout</span>
  </div>
}




<router-outlet></router-outlet>

<app-audio></app-audio>
