.add {
    background-color: pink;
}

.modal-header {
    background-color: #8e4a64;
    color:white;
}

.modal-body {
    background-color: peachpuff;
}

.button {
    background-color: #8e4a64;
    color:white;
}