


<button class="button add" (click)="openModal(commentModal)"> <i class="fas fa-comment"></i> Add Comment </button>


<ng-template #commentModal>
  <div class="modal-header">
    <h4 class="modal-title">Add a Comment </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="processForm()">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <input
          type="text"
          class="form-control"
          formControlName="comment"
          placeholder="Enter your comment"
        />
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</ng-template>