

<div class="container mt-3">
    <form [formGroup]="form" (submit)="processForm()" > 
   
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search user posts... (e.g. bar)" formControlName="query">
        </div>

    </form>     
</div>
<div class="container">



  <div class="container">
    <div class="row g-4" *ngIf="posts$ | async as posts">

      @for (post of posts ; let idx= $index; track idx) {

        <div class="col-6 col-md-4 col-lg-3 inv-item">
          <div id="frame">
            <div id="border">
              <a [routerLink]="['/gallery', post.postId]">
                <img [src]="post.imageUrl" [alt]="'Image '" class="img-fluid">
              </a>
            </div>
          </div>
        </div>

      } @empty {
        <p>No user found</p>
      }
   
    </div>
  </div>
  


  

 

