<!-- <div class="container mt-3">
   
    <div class="input-group mb-3">
        <input 
            type="text" 
            class="form-control" 
            placeholder="Search user posts..." 
            (click)="onSearch($event)">
        <button class="btn btn-primary" (click)="clearSearch()">Clear</button>
    </div>

   
</div> -->


<div class="container mt-3">
    <form [formGroup]="form" (submit)="processForm()" > 
   
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search user posts..." formControlName="query">


            <!-- <input 
                type="text" 
                class="form-control" 
                placeholder="Search user posts..." 
                (click)="onSearch($event)">
            <button class="btn btn-primary" (click)="clearSearch()">Clear</button> -->
        </div>

    </form>     

   
</div>
<div class="container">


<!-- <div class="gallery " *ngIf="posts$ | async as posts">
    <div class="gallery-item" *ngFor="let post of posts;">
      <a [routerLink]="['/gallery',post.postId]"><img [src]="post.imageUrl" [alt]="'Image '" class="gallery-image"></a>
      
    </div>
  </div>
</div> -->
<!-- <div class="container">
    <div class="row g-4" *ngIf="posts$ | async as posts">
      <div class="col-6 col-md-4 col-lg-3 inv-item" *ngFor="let post of posts">
        <a [routerLink]="['/gallery', post.postId]">
          <img [src]="post.imageUrl" [alt]="'Image '" class="img-fluid gallery-image">
        </a>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row g-4" *ngIf="posts$ | async as posts">
      <div class="col-6 col-md-4 col-lg-3 inv-item" *ngFor="let post of posts">
        <div id="frame">
          <div id="border">
            <a [routerLink]="['/gallery', post.postId]">
              <img [src]="post.imageUrl" [alt]="'Image '" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

 

