
  .inv-item {
   
  
    transition: transform 0.3s ease, box-shadow 0.3s ease;

  }
  .inv-item:hover {
    transform:scale(1.05);
   
  }
  
  
/* referenced from codepen */
  
#frame {
  position: relative;
 
  border-radius: 10px;
  max-width: 100%; 
  margin: 0 auto; 
  box-shadow: -3px -3px 12px #999;
  overflow: hidden;
  height: 300px; 

  box-shadow:				4px 6px 12px 0 black;
	border-width:			15px;
	border-style:			solid;
	border-color:			rgb(109, 84, 58) rgb(24, 19, 13) rgb(24, 19, 13) rgb(109, 84, 58);
}


#border {
  position: relative;
  border: solid 5px beige;
  box-shadow: -3px -3px 12px #999;
  overflow: hidden; 
  height: 100%;
}


img {
  display: block;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-top: solid 2px #aaa;
  border-left: solid 2px #aaa;
  border-bottom: solid 2px #ccc;
  border-right: solid 2px #ccc;
}
@media (max-width: 768px) {
  #frame {
    height: 250px; 
  }
}
