.bg-container{
  background-image: url('/images/transitionbg.jpg');
  background-size: cover; 
  background-position: center;

  background-repeat: no-repeat;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .timer {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 3rem;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 10;
  }
  
  .game-prompt {
    font-size: 2rem;
    color:white;
    text-align: center;

   
  }
  
  .instruction-text {
    font-size: 1.4rem;
    text-align: center;
   
 
  }
  
  .lottie-container {
    width: 100%;
    max-width: 600px;
    max-height: 80vh;
    margin-bottom: 3em;
  }
  

  