<!--  
    <h1>Game prompt: {{prompt}}  </h1>
    @if (hasResetOnce) {
        <h3>Time to stop drawing! Start give your image a cool name and description!</h3>
    }

    <div class="timer">{{timerCountDown}} </div>
   
    
    
    <div class="d-flex justify-content-center align-items-center vh-100">
        <ng-lottie [options]="options1" style="width: 70%; height: 70%;"></ng-lottie>
    </div> -->

    <div class="game-container">
        <h1 class="game-prompt">{{prompt}}</h1>
        
        @if (hasResetOnce) {
          <h3 class="instruction-text">Time to stop drawing! Start giving your image a cool name and description!</h3>
        }
        @if (timerCountDown) {
            <div class="timer">{{timerCountDown}}</div>
        }
        
        
        <div class="lottie-container">
          <ng-lottie [options]="options1"></ng-lottie>
        </div>
      </div>

    

    <!-- {{timerCountDown}}

    {{submission | json}} -->

    <!-- <button (click)="showDrawings()"> Show drawings</button> -->



<!-- @if (!isDrawing) {

    @if (!displayResults){
        <app-host-show-drawings [submission]="submission"  ></app-host-show-drawings>

        <app-host-player-votes [submission]="submission"></app-host-player-votes>
    }

    @else  {
        <app-host-results [submission]="submission"></app-host-results>
    }

} -->







