
<div class="bg-container">
  <div class="game-container">

    <div class="ribbon">
        <img src="/images/artistickribbon.svg" alt="ribbon" />
    </div>
   
  
   
    <div class="btn button button--piyo" (click)="hostGame()">
      <div class="button__wrapper">
          <span class="button__text">Host Game</span>
      </div>
      <div class="characterBox">
          <div class="character wakeup">
              <div class="character__face"></div>
          </div>
          <div class="character wakeup">
              <div class="character__face"></div>
          </div>
          <div class="character">
              <div class="character__face"></div>
          </div>
      </div>
    </div>

  <div class="btn button button--hoo" (click)="enterGame()">
      <div class="button__wrapper">
          <span class="button__text">Join Game</span>
      </div>
      <div class="characterBox">
          <div class="character wakeup">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
              <div class="charactor__body"></div>
          </div>
          <div class="character wakeup">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
              <div class="charactor__body"></div>
          </div>
          <div class="character">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
              <div class="charactor__body"></div>
          </div>
      </div>
    </div>

  <div class="btn button button--pen " (click)="viewGallery()">
      <div class="button__wrapper">
          <span class="button__text">Gallery</span>
      </div>
      <div class="characterBox">
          <div class="character wakeup">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
          </div>
          <div class="character wakeup">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
          </div>
          <div class="character">
              <div class="character__face"></div>
              <div class="charactor__face2"></div>
          </div>
      </div>
    </div>
  
  
  </div>
</div>



