<h2>Dashboard</h2>
<!-- <div *ngIf="user">
  <p>Welcome, {{ user.name }}!</p>
  <p>Email: {{ user.email }}</p>
  <button (click)="logout()">Logout</button> 

  <hr>
  <h3>Game Options</h3>
  <button (click)="hostGame()">Host a Game</button>

  <button (click)="enterGame()">Enter a Game</button>

  <button (click)="joinGame()">Join a Game</button>
</div> -->

<div class="game-container">
  <!-- <h1 class="game-title">LET'S PLAY A GAME!</h1> -->
  
  <button class="game-button host-button" (click)="hostGame()">
    <span class="button-icon">🎮</span> Host a Game
  </button>
  
  <button class="game-button join-button" (click)="enterGame()">
    <span class="button-icon">🚀</span> Join a Game
  </button>

  <button class="game-button gallery-button" (click)="viewGallery()">
    <span class="button-icon">🖼️</span> View Gallery
  </button>
</div>
