
.players-container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    
}

.inv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    color: white;
 
    height: 250px;
}



.slide-top {
	display: inline-block;
    font-size: 1.8rem; 
    font-weight: bold;
    color: white; 
    background: brown;
    padding: 8px 16px;
    border-radius: 1rem;
   
    text-align: center;

    animation: slide-top 1s ease-out both;
 
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  