<h2>Dashboard</h2>
<!-- <div *ngIf="user">
  <p>Welcome, {{ user.name }}!</p>
  <p>Email: {{ user.email }}</p>
  <button (click)="logout()">Logout</button> 

  <hr>
  <h3>Game Options</h3>
  <button (click)="hostGame()">Host a Game</button>

  <button (click)="enterGame()">Enter a Game</button>

  <button (click)="joinGame()">Join a Game</button>
</div> -->

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <button class="btn btn-primary mb-3 w-50" (click)="hostGame()">Host a Game</button>
  <button class="btn btn-secondary w-50" (click)="enterGame()">Enter a Game</button>
</div>

