<p>player-drawing works!</p>

<!-- <p>drawing component: {{currentGameState}}</p>
<p> is drawing mode {{isDrawingMode}}</p> -->


@if (!isDrawingMode) {
    <h1>Drawing time is up! Please give your drawing a funny title and description!</h1>
    <div class="col-md-6 offset-md-3">

        <form (ngSubmit) = "onSubmitDetails()">
        
            <div class="form-group">
                <label> Enter Image Title</label>
                <input type="text" class ="form-control" id = "title"
                    [(ngModel)] = "title" name = "title">
            </div>
    
            <div class="form-group">
                <label> Enter Image description</label>
                <input type="text" class ="form-control" id = "description"
                    [(ngModel)] = "description" name = "description">
            </div>
    
            
        
            <!-- <button class = "btn btn-success" type ="submit">Submit Details</button> -->
        
        </form>
        </div> 
}

<br>
<br>

<div class="canvas-container">
    <canvas id="canvas"></canvas>
  
   
    <!-- <div class="toolbar">
      <label for="colorPicker">Brush Color:</label>
      <input type="color" id="colorPicker" [(ngModel)]="brushColor" (change)="setBrushColor(brushColor)">
      
  
      <label for="sizePicker">Brush Size:</label>
      <input type="range" [(ngModel)]="brushWidth" id="sizePicker" min="1" max="30"  (change)="setBrushSize($event)">
      {{brushWidth}}
      <button (click)="enableEraser()">🧽 Erase</button>
      <button (click)="clearCanvas()">🗑️ Clear Canvas</button>
    </div>
  </div> -->

  <div class="toolsection">
    <div class="color-picker">
      <button class="color-button green" (click)="setBrushColor('#008000')"></button>
      <button class="color-button blue" (click)="setBrushColor('#0000FF')"></button>
      <button class="color-button black" (click)="setBrushColor('#000000')"></button>
      <button class="color-button orange" (click)="setBrushColor('#FFA500')"></button>
      <button class="color-button yellow" (click)="setBrushColor('#FFFF00')"></button>
      <button class="color-button red" (click)="setBrushColor('#FF0000')"></button> 
    
      <input type="range" [(ngModel)]="brushWidth" id="sizePicker" min="1" max="30"  (change)="setBrushSize($event)">
  
      <button (click)="enableEraser()">🧽 Erase</button>
      <button (click)="clearCanvas()">🗑️ Clear Canvas</button>
  </div>
   
  </div>

@if (isUploaded) {
    <div>
        <p> Upload complete!</p>
    </div>
}

<!-- <button [disabled]="isUploaded" (click)="submitCanvas()">Submit Drawing</button> -->


<!-- @if (!isDrawingMode) {
    <h1>Drawing time is up! Please give your drawing a funny title and description!</h1>
    <div class="col-md-6 offset-md-3">

        <form (ngSubmit) = "onSubmitDetails()">
        
            <div class="form-group">
                <label> Enter Image Title</label>
                <input type="text" class ="form-control" id = "title"
                    [(ngModel)] = "title" name = "title">
            </div>
    
            <div class="form-group">
                <label> Enter Image description</label>
                <input type="text" class ="form-control" id = "description"
                    [(ngModel)] = "description" name = "description">
            </div>
    
            
        
            <button class = "btn btn-success" type ="submit">Submit Details</button>
        
        </form>
        </div> 
} -->


{{gameCode}}
{{username}}

<!-- @else {
    <app-player-vote-input></app-player-vote-input>

} -->
