@if (!isDrawingMode) {
    <div class="container">

        <h1 class="reminder">Drawing time is up! Please give your drawing a funny title and description!</h1>
    <div class="col-md-6 offset-md-3">

        <form (submit) = "onSubmitDetails()">
        
            <div class="form-group">
                <label> Enter Image Title</label>
                <input type="text" class ="form-control" 
                    [(ngModel)] = "title" name = "title">
            </div>
    
            <div class="form-group">
                <label> Enter Image description</label>
                <input type="text" class ="form-control"
                    [(ngModel)] = "description" name = "description">
            </div>
        
        </form>
        </div> 
    </div>
    
}
<br>
<br>

<div class="canvas-container">
    <canvas id="canvas" class="mb-5"></canvas>
  
  @if (isDrawingMode) {
    <div class="toolsection">
        <div class="color-picker">
          <button class="color-button green" (click)="setBrushColor('green')"></button>
          <button class="color-button blue" (click)="setBrushColor('blue')"></button>
          <button class="color-button black" (click)="setBrushColor('black')"></button>
          <button class="color-button orange" (click)="setBrushColor('orange')"></button>
          <button class="color-button yellow" (click)="setBrushColor('yellow')"></button>
          <button class="color-button red" (click)="setBrushColor('red')"></button> 
        
          <input type="range" class="slider" [(ngModel)]="brushWidth" id="sizePicker" min="1" max="10"  (change)="setBrushSize($event)">
      
          <button (click)="enableEraser()"><i class="fa-solid fa-eraser"></i> Erase</button>
          <button (click)="clearCanvas()"><i class="fa-solid fa-trash"></i> Clear Canvas</button>
      </div>
       
      </div>
  }


@if (isUploaded) {
    <div>
        <p> Upload complete!</p>
    </div>
}


