.bg-container {
    background-color: peachpuff;
    min-height: 100vh;
    background-image: url('/images/beigebg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .bg-container {
        background-position: center center;
        background-image: url('/images/beigebg2-mobile.jpg');
      
    }
}

::ng-deep .nav-tabs {
    background-color: transparent;
    display: flex;
    justify-content: center; 
    gap: 1rem;
    border-bottom: none; 
  }

  ::ng-deep .nav-tabs .nav-link {
    color: black; 

    
  }
  
  ::ng-deep .nav-tabs .nav-link.active {
    background-color: peachpuff;
    color: black;
   
  }


