.bg-container {
    background-color: peachpuff;
    min-height: 100vh;
    background-image: url('/images/beigebg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .bg-container {
        background-position: center center;
        background-image: url('/images/beigebg2-mobile.jpg');
      
    }
}


