<!-- <div>
    <button class="btn btn-primary" (click)="toggleMode('GALLERY')"> Gallery </button>
    <button class="btn btn-warning" (click)="toggleMode('SEARCH')"> Search </button>

</div>


@switch (viewMode) {
    @case ('GALLERY') {
        <app-gallery></app-gallery>
    }
    @case('SEARCH') {
        <app-search></app-search>
    }
} -->
<div class="bg-container">
    <div class="container">
        <tabset class="tabset" >
          <tab heading="Image Gallery" id="header1" ><app-gallery></app-gallery></tab>
          <tab heading="Search for User drawings"><app-search></app-search></tab>
        </tabset>
      </div>
</div>

