

<div class="container">


<div class="col-md-6 offset-md-3 mt-5">
    <h3> Join a room!</h3>
    <form [formGroup]="form" (submit) = "submit(gameCode)">
    
        <div class="form-group">
            <label> Enter game room code displayed on screen please </label>
            
            <input type="number" class ="form-control" formControlName="gameCode" 
                >
        </div>

    
        @if (errorMessage) {
            <p> {{errorMessage}} </p>
        }
        <br>
        <button class = "button" type ="submit">Submit</button>
    
    </form>
    
    

 
</div>

