
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100svh; 
  text-align: center;
}


.small-lottie-container {
  width: 300px; 
  height: 300px; 
}
