<!-- @if(!displayResults){ -->
    <label>Vote between 1 to 10!</label>
    
    
    @if (hasVoted) {
        <p>You have submitted your vote for the current drawing.</p>
    } @else {
        <form (submit)="processVote(voteString.value)">
            <input type="number" min="1" max="10" #voteString>
            <button type="button" (click)="processVote(voteString.value)" [disabled]="hasVoted"> Submit vote!</button>
        </form>
    }
    
   
<!-- } @else {
    <app-player-results [submission]="submission"></app-player-results>
} -->


<!-- {{submission |json }} -->

<!-- {{playerVote.vote}} -->