
    <h1>Vote between 1 and 10!</h1>


    @if (hasVoted) {
        <p>You have submitted your vote for the current drawing.</p>
    } @else {
        <div class="voting-container">
            <div class="container">

           
          
            @if (form.get('playerVote')?.errors?.['min'] || form.get('playerVote')?.errors?.['max']) {
                <p class="text-danger">Please enter a value between 1 and 10</p>
                }
            <form [formGroup]="form" (submit)="processVote()">
                <input type="number" min="1" max="10" formControlName="playerVote" class ="form-control mb-5 mt-5" >
                <button type="submit" [disabled]="form.invalid" class="mb-5"> Submit vote!</button>
            </form>
        </div>
            
        </div>
        
    }
    
   
