

.curtain-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/curtain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

.content {
  position: relative;
  top:2%;
  border: 10px solid #D4A76A; 
  display: flex;
  align-items: center;
  justify-content: space-between; 

  height: 500px; 
  max-width: 1200px;
  margin: auto;
  padding: 3%;
 

  background: #FFF5E6;
  border-radius: 5rem;
  gap:1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

  
}

.drawing-info {
  flex: 1;
  text-align: center;
  max-width: 50%;
  color: black;
  
}

.player-name,.drawing-title,.drawing-description,.drawing-ai-comments{
  font-size: 1.5rem;
  font-weight: bold;
  color:red;
}

.var {
  color:black;
  font-size:1.2rem;
}


.drawing-image-container {
  flex: 1;

  justify-content: center;
  border:10px solid;
}

.drawing-image {
  width: 100%;

  max-height:400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.timer {
  position:absolute;
  top:10%;
  left:5%;
   color:white;
   background-color: black;
   padding: 10px 10px;
   border-radius:10px;
}


