


<!-- <pre>{{submissionshow | json}}</pre>
<h1>{{submissionshow.gamePrompt}}</h1> -->



<!--<pre> {{drawing | json}}</pre> -->
<!-- <p>{{finishedAllDrawings}}</p> -->


<!-- <div>
    <p>Name: {{drawing.playerName}}</p>
    <p>Title: {{drawing.title}}</p>
    <p>Description: {{drawing.description}} </p>
    <img [src]="drawing.imageUrl">
</div> -->

<!-- <div class="curtain-container">
    <div class="curtain" [@curtainRise]="curtainState"></div>
    <div class="content">
      <p>Name: {{ drawing?.playerName }}</p>
      <p>Title: {{ drawing?.title }}</p>
      <p>Description: {{ drawing?.description }}</p>
      <p>AiComments: {{drawing?.aiComments}}</p>
      <img [src]="drawing?.imageUrl">

    </div>
  </div> -->

  <div class="curtain-container">
   
    <div class="curtain" [@curtainRise]="curtainState"></div>
    <div class="content">
       
        <div class="drawing-info">
            <p class="player-name">Name: {{ drawing?.playerName }}</p>
            <p class="drawing-title">Title: {{ drawing?.title }}</p>
            <p class="drawing-description">Description: {{ drawing?.description }}</p>
            <p class="drawing-ai-comments">AI Comments: {{ drawing?.aiComments }}</p>
        </div>
    
        <div class="drawing-image-container"> 
            <img [src]="drawing?.imageUrl" alt="Drawing Image" class="drawing-image">
        </div>
    </div>
</div>

<h1 class="timer">{{timerCountDown}} </h1>

<!-- <img class="mascot" src="/mascot/pencil2.svg" alt="Mascot"> -->

<!-- <div class="drawing-container">
  <div class="info">
    <p >Name: {{ drawing?.playerName }}</p>
    <p >Title: {{ drawing?.title }}</p>
    <p >Description: {{ drawing?.description }}</p>
    <p >AI Comments: {{ drawing?.aiComments }}</p>

  </div>

  <div class="drawing">
    <img [src]="drawing?.imageUrl" alt="Drawing Image" height="300px" width="300px" >
  </div>
  


</div> -->



<!-- <button (click)="curtainToggle()">Toggle Curtain</button> -->



<!-- <button (click)="nextDrawing()">Next</button> -->


