
  <div class="curtain-container">
   
    <div class="curtain" [@curtainRise]="curtainState"></div>
    <div class="content">
       
        <div class="drawing-info">
            <p class="player-name">Name:<span class="var">  {{ drawing.playerName }}</span></p>
            <p class="drawing-title">Title: <span class="var">{{ drawing.title }}</span> </p>
            <p class="drawing-description">Description: <span class="var"> {{ drawing.description }}</span> </p>
            <p class="drawing-ai-comments">AI Comments: <span class="var"> {{ drawing.aiComments }}</span> </p>
        </div>
    
        <div class="drawing-image-container"> 
            <img [src]="drawing.imageUrl" alt="Drawing Image" class="drawing-image">
        </div>
    </div>
</div>

<h1 class="timer">{{timerCountDown}} </h1>



