<p>host-show-drawings works!</p>


<pre>{{submissionshow | json}}</pre>

<!--<pre> {{drawing | json}}</pre> -->
<!-- <p>{{finishedAllDrawings}}</p> -->


<!-- <div>
    <p>Name: {{drawing.playerName}}</p>
    <p>Title: {{drawing.title}}</p>
    <p>Description: {{drawing.description}} </p>
    <img [src]="drawing.imageUrl">
</div> -->

<div class="curtain-container">
    <div class="curtain" [@curtainRise]="curtainState"></div>
    <div class="content">
      <p>Name: {{ drawing.playerName }}</p>
      <p>Title: {{ drawing.title }}</p>
      <p>Description: {{ drawing.description }}</p>
      <img [src]="drawing.imageUrl">
    </div>
  </div>

<!-- <button (click)="curtainToggle()">Toggle Curtain</button> -->

{{timerCountDown}} seconds left!

<button (click)="nextDrawing()">Next</button>


