<div class="canvas-container">
  <canvas id="canvas"></canvas>

  <!-- Controls -->
  <div class="toolbar">
    <label for="colorPicker">Brush Color:</label>
    <input type="color" id="colorPicker" [(ngModel)]="brushColor" (change)="setBrushColor(brushColor)">
    

    <label for="sizePicker">Brush Size:</label>
    <input type="range" [(ngModel)]="brushWidth" id="sizePicker" min="1" max="30"  (change)="setBrushSize($event)">
    {{brushWidth}}
    <button (click)="enableEraser()">🧽 Erase</button>
    <button (click)="clearCanvas()">🗑️ Clear Canvas</button>
  </div>
</div>

{{currentGameState}}