@if (currentGameState==='LOADING') {
  <div class="loading-container">
    <span class="loader loading"></span>
  </div>
}


@if (currentGameState === 'QUEUING' || currentGameState ==="AVAILABLE") {
 
  <div class="waitingroom">
    <div class="qrcode">
      <app-qrcode></app-qrcode>
    </div>

  <app-host-waiting-room [players]="players" [gameCode]="gameCode" [username]="username" (emitEvent)="processEvent($event)"></app-host-waiting-room>
  
</div>




}

@if(currentGameState==="TRANSITION") {
  <app-host-transition [transitionChild]="transition"></app-host-transition>
}

@if (currentGameState === "STARTED" || currentGameState ==="DESCRIBE") {
  <app-host-prompt [submission]="submission" [currentGameState]="currentGameState"></app-host-prompt>
}



@if ( currentGameState === "VOTING") {
  <div class="background-container">
    <app-host-show-drawings [submissionshow]="submission"  ></app-host-show-drawings>
    <div class="players-container">
      <app-host-player-votes [submissionvote]="submission"></app-host-player-votes>

    </div>
  

  </div>
}

@if (currentGameState === "RESULTS") {
  <app-host-results [submissionresults]="submission"></app-host-results>
}

<app-audio class="audio" [volume]="audioVolume"></app-audio>
