<div class="bg-container">


<div class="container">
    @if (post === undefined) {
      <app-notfound></app-notfound>
    }
    @if (post !== undefined) {
      <div class="row">
   
        <div class="col-12">
          <div class="image-container">
            <div id="frame">
              <div id="border">
                <img [src]="post.imageUrl" [alt]="'Image '" class="img-fluid portrait">
              </div>
            </div>
          </div>
        </div>
       
        <div class="col-12">
          <div class="d-flex flex-wrap justify-content-center gap-3 mt-3">
            <button class="button" (click)="likePost()">
              <i class="fa fa-heart" aria-hidden="true"></i> Like 
            </button>
            <button class="button telegram-btn" (click)="share()">
              <i class="fa-brands fa-telegram"></i> Share
            </button>
            <app-addcomment [postId]="post.postId" (emitPostComment)="processPostComment($event)"></app-addcomment>
            <button type="button" class="button delete" [hidden]="!canDelete" (click)="deletePostById(post.postId)">
              <i class="fa-solid fa-trash"></i> Delete Post
            </button>
          </div>
        </div>
      
        <div class="col-12 mt-5">
          <accordion [isAnimated]="true" >
            <accordion-group heading="Drawing information "    panelClass="customClass" >
              <h4><span class="custom-label"> <i class="fa-solid fa-table-list me-2"></i>Prompt:</span> {{post.prompt}}</h4>
              <h4><span class="custom-label"> <i class="fa-solid fa-ghost me-2"></i>Creator:</span> {{post.username}}</h4>
              <h4><span class="custom-label"><i class="fa-solid fa-magnifying-glass me-2"></i> Image Title:</span> {{post.title}}</h4>
              
              <h4><span class="custom-label"><i class="fa-solid fa-book me-2"></i> Creator Description:</span> {{post.description}}</h4>
              <h4><span class="custom-label"><i class="fa-solid fa-robot me-2"></i> AI Comments:</span> {{post.aiComments}}</h4>
            </accordion-group>
            <accordion-group heading="Comments" panelClass="customClass">
              <app-individualpostsocial [postSocial$]="postSocial$" (emitDeleteComment)="processDeleteComment($event)"></app-individualpostsocial>
            </accordion-group>
          
          </accordion>
        </div>
      </div>
    }
  
    

    

  
    
    




@if (errorMessage) {
    {{errorMessage}}
    <app-notfound></app-notfound>
}

</div>
</div>