<p>individualpost works!</p>


    @if (post !== undefined) {
        <img [src]="post.imageUrl">
    <h3>{{post.aiComments}}</h3>
    <h3> {{post.userId}}</h3>
    <h3> {{post.postId}} </h3>
    {{post.aiImageUrl}}
    <button type="button" class="btn btn-danger" [hidden]="!canDelete" (click)="deletePostById(post.postId)">Delete</button>

    <app-individualpostsocial [postId]="post.postId"></app-individualpostsocial>

    @if (!post.aiImageUrl ){
       
        <button type="button" class="btn btn-warning" (click)="generateImage()">Generate ai image</button>
    }
    }
    


<!-- 
<pre>{{post$ | json}} </pre>

<pre>{{post$ | async | json}}</pre> -->



@if (errorMessage) {
    {{errorMessage}}
    <app-notfound></app-notfound>
}