
@if (postSocial$ | async; as postSocial) {
    
       
        <h1>{{postSocial.likes}} likes</h1>

        <h4>Comment Section</h4>
      
          <ul class="list-group">
            @for (comment of postSocial.comments; let idx = $index; track idx) {
              <li class="list-group-item py-3">
                <div class="d-flex justify-content-between">
                  <div class="me-2">
                    <div class="fw-bold mb-1">{{ comment.username }}</div>
                    <div class="text-muted">{{ comment.comment }}</div>
                  </div>
                  @if (comment.username === currentUsername) {
                    <button class="button delete align-self-start"
                            (click)="deleteComment(postSocial.postId,comment.commentId)">
                            <i class="fa-solid fa-trash"></i> Delete
                    </button>
                  }
                </div>
              </li>
            }
          </ul>
    


}

