

.register-link {
  color:red;
}
.register-link :hover {
  color:blue;
  text-decoration: underline;
}
.error-msg {
  color:red;
}


.form-card {
  background-color: #f8f4e3;
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0 1em 3em rgba(0,0,0,0.7);
  margin-bottom:4em;
  position: relative; 

}
.title {
  color:#8e4a64;
}
.button {
  background-color:  #8e4a64;
  color:white;
}

.mascot {
  position: absolute; 
  top: -6em; 
  right: -7em;
  height: 300px;
  width: 300px;
  z-index: 2;
}

.outer-container {
  margin-top: 8em;
  position: relative;
 

}

@media screen and (max-width: 768px) {
  .mascot {
    height: 200px;
    width: 200px;
    top: -3em;
    right: -3em;
  }
  .container {
    overflow-x: hidden; 
    max-width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .mascot {
    height: 150px;
    width: 150px;
    top: -3em;
    right: -3em;
  }
}
