
 
   <div class="container">
    <div class="outer-container row d-flex justify-content-center">
      
      <div class="col-12 col-md-8 col-lg-5 mx-3 mx-sm-0">
        <div class="form-card">
          <img class="mascot" src="/mascot/pencil2.svg" alt="Mascot">
          <h2 class="title">Player Login</h2>
          
          @if (errorMessage) {
            <div class="error-msg">
              <p class="mb-0">{{errorMessage}}</p>
            </div>
          }
          
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="mb-4">
              <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
              <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
            
            <div class="mb-4">
              <label for="password" class="form-label"><i class="fas fa-lock"></i>  Password</label>
              <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
            </div>
            
            <button type="submit" class=" button w-100 p-2 mb-4 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-gamepad me-2"></i>  <span class="fs-5"> Login to Play</span>
            </button>
            
            <div class="text-center mb-4">
              <span>New Player? </span>
              <a [routerLink]="['/register']" class="register-link">
                <span>Register Now</span>
              </a>
            </div>
          </form>
          
          <div class="my-4 position-relative">
            <hr>
            <span class="position-absolute top-50 start-50 translate-middle " >OR</span>
          </div>
          
          <div class="mb-3">
            <button (click)="loginViaGoogle()" class="button w-100 p-2 d-flex align-items-center justify-content-center">
              <img src="/images/google-icon.svg" alt="Google Logo" height="24px" width="24px" class="me-2">
              <span class="fs-5">Continue with Google </span>
            </button>
          </div>
          
          <div>
          
          </div>
        </div>
      </div>
    </div>
  </div>


  