<h1> Host drawing and host prompt at the same time </h1>

@if (isDrawing) {
    <h1>Draw based on the following prompt!</h1>
    <h3> Draw a ...</h3>
    <p> Add timer </p>
    <button (click)="showDrawings()"> Show drawings</button>

    {{timerCountDown}}

    {{submission | json}}
}



@if (!isDrawing) {

    @if (!displayResults){
        <app-host-show-drawings [submission]="submission"  ></app-host-show-drawings>

        <app-host-player-votes [submission]="submission"></app-host-player-votes>
    }

    @else  {
        <app-host-results [submission]="submission"></app-host-results>
    }

}







